/* body{
    margin: auto;
    background-color: #333652;
    color: #333652;
    text-align: center;
}

#websiteContainer{

    width: 80%;
    margin: auto;
    background-color: #E9EAEC;
    border-radius: 60px;
    border: 5px solid #404465;
    padding: 30px;
}

#message {
    background-color: #90ADC6;
    color: white;
    width: 50%;
    margin: auto;
    height: 30px;
    text-align: center;
} */

table{
    margin: auto;
}

th{
    height: 40px;
    /* background-color: #FAD02C; */
}